html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-image: linear-gradient(to right bottom, #ff05ff,#cd24d3,#a437fd, #8422df,#1837c1, #1552c2,#5594db);
}

.header
{
    color: white;font-family: 'Grandstander', cursive;
    font-size: 45px;letter-spacing: 10px;
}
.header img
{
	width: 80px;margin-left: -15px;
}

.login_div
{
	background: rgba(255,255,255,0.8);float: none;border-radius: 15px;
}

.logo
{
	width: 80px;margin-top: 30px;border-radius: 40px;
}

#login_button
{
	width: 80%;border-radius: 15px;
}

.room_name
{
	cursor: pointer;
	font-size: 20px;
}


#logout
{
	font-size: 20px; float: right;
	padding-left: 10px;
	padding-right: 10px;
	
}


#output
{
	padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: white;font-size: 20px;
}


.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(255,255,255,0.8);
}
.input_div_message_page label
{
	color: black;
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.color_white
{
	color: white
}

.user_tick
{
	width:20px;
}
.message_h4
{
	padding-left:5px;color:grey;
}
#room_one_div
{
    background: rgba(255, 255, 255, 0.445); float: none; border-radius: 15px; 
	margin-right: 40px;
	 margin-top: 100px; padding: 20px; padding-bottom: 150px;
}
#add_room_label{
	color: rgb(255, 255, 255);
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 25px;
    text-shadow: rgb(255, 45, 157) 1px 0 10px;
}
#trending_room_hthree{
	color: rgb(255, 255, 255);
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 25px;
    text-shadow: rgb(255, 211, 115) 1px 0 10px;	
}